 /* banner start  */
 #transport-support {
     width: 100%;
     height: 65vh;
     background-color: var(--tertiory-color);
     display: flex;
     align-items: center;
     justify-content: center;
     /* display: none; */
 }

 #transport-support .wrapper {
     width: 80%;
     height: 50vh;
     /* background-color: rgb(48, 123, 19); */
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 #transport-support .wrapper .banner-container {
     width: 100%;
     height: 40vh;
     gap: 10px;
     /* background-color: burlywood; */
     display: flex;
     align-items: center;
     justify-content: center;
       
 }

 #transport-support .wrapper .banner-container .transport-content {
     width: 100%;
     height: 40vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
   
     /* background-color: brown; */
 }

 #transport-support .wrapper .banner-container .transport-content h1 {
     width: 100%;
     font-size: var(--fs-38);
   
     /* background-color: brown; */
 }
 #transport-support .wrapper .banner-container .transport-content p{
    width: 100%;
 }
 #transport-support .wrapper .banner-container .transport-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #transport-support .wrapper .banner-container .transport-img img {
    width: 75%;
    object-fit: cover;
 }

 /* banner end */


 /* health monitor start */
 #health-monitor {
     width: 100%;
     height: 700px;
     /* background-color: chocolate; */
     display: flex;
     justify-content: center;
     align-items: start;
     gap: 30px;
     /* display: none; */
     /* margin-top: 50px; */
 }

 #health-monitor .wrapper {
     width: 80%;
     height: 90%;
     display: flex;
     justify-content: center;
     align-items: center;
     /* flex-direction: column; */
     /* background-color: burlywood; */
     gap: 30px;
    
 }

 #health-monitor .wrapper .health-card {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     /* align-content: center; */
     gap: 40px;
     /* background-color: plum; */
     /* margin-top: 20px; */
     flex-wrap: wrap;

 }

 #health-monitor .wrapper .health-card .card {
     display: flex;
     justify-content:start;
     align-items: center;
     width: 30%;
     height: 40%;
     flex-direction: column;
     gap: 30px;
     margin-top: 30px;
     background-color: var(--tertiory-color);
     border-radius: 0px 0px 4px 4px;
     -webkit-border-radius: 0px 0px 4px 4px;
     -moz-border-radius: 0px 0px 4px 4px;
     -ms-border-radius: 0px 0px 4px 4px;
     -o-border-radius: 0px 0px 4px 4px;
 }

 #health-monitor .wrapper .health-card .card img {
     width: 100%;
     /* height: 100%; */
     object-fit: cover;


 }

 #health-monitor .wrapper .health-card .card p {
     width: 100%;
     height: auto;
     text-align: center;
     
     /* margin-bottom: 20px; */

 }

 /* health monitor end */

 /* digital start*/
 #doctor-monitor {
     width: 100%;
     height: 50vh;
     /* background-color: beige; */
     display: flex;
     align-items: center;
     justify-content: center;
     /* display: none; */
 }

 #doctor-monitor .wrapper {
     width: 80%;
     height: 40vh;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
 }

 #doctor-monitor .wrapper .digital-monitor {
     width: 100%;
     height: 40vh;
     /* background-color: burlywood; */
     display: flex;
     align-items: start;
     justify-content: center;
     flex-direction: column;
     gap: 20px;
 }

 #doctor-monitor .wrapper .digital-monitor h2 {
     font-size: var(--fs-30);
 }

 #doctor-monitor .wrapper .digital-monitor p {
     width: 100%;
 }

 #doctor-monitor .wrapper .digital-monitor-img {
     width: 100%;
     object-fit: cover;
     /* margin-left: 30%; */
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 #doctor-monitor .wrapper .digital-monitor-img img {
     width: 80%;

 }

 /* digital end*/

 /* real time animal tracker start*/
 #animal-tracker {
     width: 100%;
     height: 100vh;
     /* background-color: bisque; */
     display: flex;
     align-items: center;
     justify-content: center;
     /* display: none; */
 }

 #animal-tracker .wrapper {
     width: 80%;
     height: 80vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 30px;
 }

 #animal-tracker .wrapper h2 {
     font-size: var(--fs-30);
     /* background-color: aqua; */
    
 }

 #animal-tracker .wrapper img {
     width: 400px;
     /* background-color: aquamarine; */
 }

 /* real time animal tracker end*/

 /* Adoption & shelter start*/
 #adoption-shelter {
     width: 100%;
     height: 60vh;
     /* background-color: aqua; */
     display: flex;
     justify-content: center;
     align-items: center;
     /* display: none; */
 }

 #adoption-shelter .wrapper {
     width: 80%;
     height: 50vh;
     /* background-color: blue; */
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 #adoption-shelter .wrapper .adoption-img {
     width: 100%;
     object-fit: cover;
     display: flex;
     justify-content: start;
     align-items: center;
     /* background-color: black */
 }

 #adoption-shelter .wrapper .adoption-img img {
     width: 80%;
 }

 #adoption-shelter .wrapper .adoption-content {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: start;
     flex-direction: column;
     gap: 40px;
 }

 #adoption-shelter .wrapper .adoption-content h2 {
     font-size: var(--fs-30);
 }
 /* Adoption & shelter end*/

 







 
 /* media query start */

  /* banner start */
 @media only screen and (max-width:1144px) {
    #transport-support .wrapper .banner-container .transport-img img {
        width: 320px;
    }
 }
 @media only screen and (max-width:930px) {
    #transport-support .wrapper .banner-container .transport-content h1 {
        font-size: var(--fs-38);
    }
    #transport-support .wrapper .banner-container {
        gap: 40px;
    }
 }
 @media only screen and (max-width:843px) {
    #transport-support .wrapper .banner-container .transport-content h1 {
        font-size: var(--fs-28);
    }
 }
 @media only screen and (max-width:800px) {
    #transport-support {
        height: 70vh;  
    }
   
    #transport-support .wrapper .banner-container {
        flex-direction: column-reverse;
    }
    #transport-support .wrapper .banner-container .transport-content h1 {
        text-align: center;
    }
    #transport-support .wrapper .banner-container .transport-content p{
        width: 80%;
        text-align: center;
     }
     #transport-support .wrapper .banner-container .transport-content {
        gap: 10px;
     }
 }
 @media only screen and (max-width:680px) {
    
    #transport-support .wrapper .banner-container .transport-content h1 {
        font-size: var(--fs-24);
        
    }
    #transport-support .wrapper .banner-container .transport-content p{
        font-size: var(--fs-14);
        width: 80%;
    }
 }
 @media only screen and (max-width:564px) {
    #transport-support .wrapper .banner-container .transport-img img {
        width: 250px;
    }
 }
   /* banner end */

   
   /* health monitor start */
   
   @media only screen and (max-width:1190px) {
    #health-monitor {
        margin-top: 30px;
        height: 800px;
     } 
   #health-monitor .wrapper .health-card .card {
    width: 30%;
    height: 33%;
   }
}
@media only screen and (max-width:1000px) {
    
    
    #health-monitor .wrapper .health-card .card {
        width: 30%;
        height: 35%;   
       }
    #health-monitor .wrapper {
        align-items: center;
        justify-content: center;   
        }
        #health-monitor {
            height:100%;
        }
}
@media only screen and (max-width:860px) {
    #health-monitor .wrapper .health-card .card {
        width: 30%;
        height: 35%;   
       }
    #health-monitor{
        margin-top: 30px;
    }
    #health-monitor .wrapper {
    justify-content: center;
    align-items: center;   
    }
   

    #health-monitor .wrapper .health-card .card p {
        font-size: var(--fs-14);
        width: 80%;
        margin-bottom: 8px;
    }
    #health-monitor .wrapper .health-card .card {
        width: 78%;
       
       }
       
}
 /* health monitor end */

 /* digital start*/

 @media only screen and (max-width:800px) {
    #doctor-monitor{
        height: 75vh;
    }
    
    #doctor-monitor .wrapper {
        flex-direction: column;
    }
    #doctor-monitor .wrapper .digital-monitor {
        align-items: center;
    }
    #doctor-monitor .wrapper .digital-monitor-img img {
        width: 300px;
   
    }
    #doctor-monitor .wrapper .digital-monitor h2 {
        text-align: center;
        font-size: var(--fs-28);
    }
    #doctor-monitor .wrapper .digital-monitor p {
        width: 80%;
        text-align: center;
    }
 }
 @media only screen and (max-width:680px) {
    #doctor-monitor .wrapper .digital-monitor h2 {
        font-size: var(--fs-24);
    }
    #doctor-monitor .wrapper .digital-monitor p {
        font-size: var(--fs-14);

    }
    #doctor-monitor .wrapper .digital-monitor-img img {
        width: 350px;
   
    }
 }
 @media only screen and (max-width:564px) {
    #doctor-monitor .wrapper .digital-monitor h2 {
        font-size: var(--fs-20);
    }
    #doctor-monitor .wrapper .digital-monitor-img img {
        width: 240px;
   
    }
 }
  /* digital end */

  /* real time animal tracker start*/
  @media only screen and (max-width:800px) {
    #animal-tracker .wrapper h2 {
        font-size: var(--fs-28);
        text-align: center;
    }
    #animal-tracker .wrapper img {
        width: 350px;
  }
}
@media only screen and (max-width:680px) {
    #animal-tracker .wrapper h2 {
        font-size: var(--fs-24);
    }
}
@media only screen and (max-width:564px) {
    #animal-tracker {
        height: 60vh;
    }
    #animal-tracker .wrapper h2 {
        font-size: var(--fs-20);

    }
    #animal-tracker .wrapper img {
        width: 280px;
  }
}
  /* real time animal tracker end*/



   /* Adoption & shelter start*/

   @media only screen and (max-width:800px) {
    
    #adoption-shelter .wrapper {
        flex-direction: column-reverse;
    }
    #adoption-shelter .wrapper .adoption-img {
        width: 350px;
        justify-content: center;
    }
    #adoption-shelter .wrapper .adoption-content {
        align-items: center
    }
    #adoption-shelter .wrapper .adoption-content h2 {
        text-align: center;
        font-size: var(--fs-28);
    }
    #adoption-shelter .wrapper .adoption-content p {
        text-align: center;
        width: 80%;
    }
   }
   @media only screen and (max-width:680px) {
    #adoption-shelter .wrapper .adoption-content h2 {
        font-size: var(--fs-24);
    }
    #adoption-shelter .wrapper {
        gap: 30px;
    }
   }
   @media only screen and (max-width:564px) {
    #animal-tracker {
         height: 70vh;
    }
    #adoption-shelter .wrapper .adoption-content h2 {
        font-size: var(--fs-20);
    }
    #adoption-shelter .wrapper .adoption-img {
        width: 350px;
   }
   
}
@media only screen and (max-width:400px) {
    #adoption-shelter .wrapper .adoption-img {
        width: 300px;
   }
}
 /* Adoption & shelter end*/
